.post-container{
    background:#fff;
}
.post-head{
    background:rgb(206, 189, 189);
    padding: 30px 20px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: justify;
}

h3{
    
    margin:20px auto;
}

p{

}
.bg{
    background: linear-gradient(to top,#F3B997,royalblue);
}
input[type="file"]{
    border:none;
    background:transparent;
    padding:10px 0;
}

@media only screen and (min-width: 480px) and (max-width:768px) {  
    .post-head{
        
        grid-template-columns: repeat(2, 1fr)
    }
    h3{
        margin:20px 40px;
    }
    
}

@media only screen and (min-width: 769px) {
    .post-head{
        
        grid-template-columns: repeat(2, 1fr)
    }
    h3{
    
        margin:20px 80px;
    }
    
}